/* styles.css */
body {
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  background-color: #121212; /* Dark Mode Background */
  color: #E0E0E0; /* Light Gray Text for Readability */
}

h1 {
  text-align: center;
  color: #BB86FC; /* Light Purple Accent */
}

form,
table {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  background-color: #1E1E1E; /* Dark Card Background */
  padding: 20px;
  border-radius: 8px; /* Slight rounding for a clean look */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

label {
  
  display: block;
  margin-bottom: 10px;
  color: #E0E0E0; /* Light Gray */
  transition: color 0.3s ease;
}

body[data-theme='light'] label {
  color: #000000; /* Black in Light Mode */
}

input,
textarea,
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px; /* Subtle rounding */
}

input,
textarea {
  background-color: #333333; /* Dark Input Background */
  color: #E0E0E0; /* Light Text */
}

button {
  margin-top: 20px;
  background-color: #03DAC5; /* Teal Accent */
  color: #121212; /* Dark Text for Contrast */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #018786; /* Darker Teal for Hover */
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th {
  background-color: #03DAC5; /* Teal Accent */
  color: #121212; /* Dark Text for Contrast */
  padding: 15px;
}

td {
  border: 1px solid #333333; /* Dark Borders */
  padding: 12px;
  text-align: left;
}

